body {
    font-family: Arial, sans-serif;
    background-color: #f385d9;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #000000;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    font-weight: bold;
}
